* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
  position: relative;
  color: white;
}
.background {
  background: #111111;
  height: 60vh;
  width: 100%;
  position: absolute;

  z-index: -5;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px 50px 80px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
  font-size: 0.8rem;
}

header {
  margin: 90px 0 90px 0;
  text-align: center;
}
header h2 {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10px;
}
header h1 {
  font-size: 3rem;
}

.accordion-container {
  display: flex;
  height: 55vh;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
  border: 1px solid #ccc;
}
.accordion {
  position: relative;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  flex-basis: 150px;
  transition: flex-basis .3s ease-in-out;
}


.opened {
  flex-basis: 500px;
  transition: flex-basis .3s ease-in-out;
}

.upper {
  padding: 40px 0px 40px 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.671);
  backdrop-filter: blur(10px);
  color: white;
}
.upper :nth-child(2) {
  font-size: 0.8rem;
  margin-top: 10px;
}
.upper.is-opened {
  padding-left: 25px;
  font-weight: 700;
  text-align: left;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
}
.acc-img {
  position: absolute;
  z-index: -5;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bottom {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  padding: 40px 0px 40px 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.671);
  backdrop-filter: blur(10px);
  color: white;
}
.bottom.is-opened {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  padding: 10px 25px 25px 25px;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
  height: 100%;
}

.temp {
  display: flex;
  gap: 5px;
  align-items: end;
}

.bottom.is-opened .temp {
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 2.3rem;
  width: 100%;
}

.bottom.is-opened .temp :nth-child(2) {
  color: rgb(230, 226, 226);
  font-size: 2rem;
}

.is-opened {
  background: transparent;
}

.weather {
  display: none;
  font-size: 2.5rem;
  padding: 40px 25px 15px 25px;
}

.footer-container {
  display: none;
  gap: 10px;
  width: 100%;

}

.wind,
.humidity,
.rain {
  padding: 20px 0px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 10px;
  flex: 1;
}

.wind img,
.humidity img,
.rain img {
  margin-bottom: 5px;
}
.wind :nth-child(2),
.humidity :nth-child(2),
.rain :nth-child(2) {
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.wind :nth-child(3),
.humidity :nth-child(3),
.rain :nth-child(3) {
  font-size: 0.8rem;
  color: #ffffff;
}